body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#oppenent-choice{

    /* background-color: brown; */
    height: 200px;
    width: 200px;
    margin-top: 10px;
    /* border: black solid; */

}

#your-choice{
    /* background-color:blueviolet; */
    height: 200px;
    width: 200px;
    margin-top: 10px;
    /* border: black solid; */
    
} 
img{
    height: 80px;
    width: 75px;
}
#choices{
    /* background-color: blue; */
    height:90px;
    width: 240px;
    margin-top: 15px;
    /* border: black solid; */
    margin:0 auto
}
